@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.content-text {
    text-align: center;
}

.content h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, rgba(125, 194, 221, 0.90) -150%, rgba(0, 0, 0, 1) 100%);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

.video-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.video-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 110.67%;
    overflow: hidden;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card h2 {
    margin: 10px 0;
}

.video-card p {
    padding: 0 10px 20px;
}

.rectangle-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 35px;
    z-index: 0;
}

.rectangle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    max-width: 1050px;
    width: 90%;
    margin: 0 auto;
}

.text-content {
    padding: 25px;
}

.text-content h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: white;
}

.text-content p {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    margin-top: 10px;
    font-style: normal;
    font-size: 0.90rem;
    color: white;
}

.beach {
    color: #40E0D0;
}

.suites {
    border-bottom: 1px solid white;
}

.unforgettable {
    position: absolute;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #40E0D0;
    font-size: 110px;
    z-index: 2;
}

.image-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bar {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
}

.overlay-text {
    position: absolute;
    top: 30px;
    left: 75%;
    transform: translate(-50%, -50%);
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: white;
    z-index: 1;
}

.overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .rectangle {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .content h1 {
        font-size: 40px;
        padding-bottom: 15px;
    }

    .overlay-container {
        display: none;
    }

    .unforgettable {
        font-size: 40px;
        left: 108px;
    }

    .bar {
        margin-bottom: -15px;
    }
}

@media (max-width: 500px) {
    .unforgettable {
        left: 150px;
    }
}