@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.content-text {
    text-align: center;
}

.content h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    padding-bottom: 5px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, rgba(125, 194, 221, 0.90) -150%, rgba(0, 0, 0, 1) 100%);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

.video-card {
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 110.67%;
    overflow: hidden;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card h2 {
    color: white;
    margin: 10px 0;
}

.video-card p {
    color: white;
    padding: 0 10px 20px;
}

.beach {
    color: #40E0D0;
}

.suites {
    border-bottom: 1px solid white;
}

.bar {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
}

.section-suites {
    display: grid;
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 70%;
    margin-bottom: 30px;
    overflow: hidden;
    height: 100%;
}

.suite-text {
    padding: 30px;
}

.suite-text h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.suite-text p {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    color: white;
}

.suite-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-title {
    margin-bottom: 20px;
}

.carousel-title h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
}

.carousel {
    border-radius: 8px;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 600px;
}

.carousel img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}

.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

.booking-container {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    color: white;
    overflow: hidden;
    border-bottom: 1px solid;
}

.booking-container .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    z-index: 0;
}

.booking-container h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.booking-container p {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.btn-submit {
    position: relative;
    z-index: 1;
}

.booking-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.date-input,
.guests-input {
    background: white;
    border-radius: 5px;
    padding: 10px;
    color: black;
    width: 250px;
    text-align: left;
    position: relative;
}

.date-input input {
    border: none;
    width: 100%;
    padding: 5px 0;
}

.guests-input {
    cursor: pointer;
}

.guests-input span {
    display: block;
    margin-bottom: 5px;
}

.guests-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    color: black;
}

.guests-dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.guests-dropdown-item button {
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.guests-dropdown-item input {
    width: 75px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}

.guests-count {
    border: none;
    text-align: center;
    width: 40px;
    margin: 0 10px;
}

.btn-decrement,
.btn-increment,
.btn-update {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-update {
    display: block;
    width: 90%;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn-submit {
    background: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.guests-input:hover .guests-dropdown {
    display: block;
}

@media (max-width: 500px) {
    .section-suites {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
}