@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


* {
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.content-text {
    text-align: center;
}

.content h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(circle, rgba(125, 194, 221, 0.90) -150%, rgba(0, 0, 0, 1) 100%);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 20px;
}

.video-card {
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.video-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 110.67%;
    overflow: hidden;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-card h2 {
    color: white;
    margin: 10px 0;
}

.video-card p {
    color: white;
    padding: 0 10px 20px;
}

.beach {
    color: #40E0D0;
}

.suites {
    border-bottom: 1px solid white;
}

.bar {
    width: 100%;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;
}

.section-suites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 90%;
    margin-bottom: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    height: 465px;
}

.suite-text {
    padding: 30px;
}

.suite-text h1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.suite-text p {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    font-style: normal;
    font-size: 0.90rem;
    color: white;
}

.suite-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel {
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 600px;
}

.carousel img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: block;
}

.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .section-suites {
        grid-template-columns: 1fr;
        height: 840px;
        margin-bottom: 30px;
    }
}